* {
    /* Deault CSS on all Elements */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "San Francisco", arial, sans-serif;
  }
.banner {
    background-image: url(../images/stress.png);
    height:68vw;
    min-height: 100px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  main {
    flex: 100%;
    /* Set the width of the main content */
    background-color: white;
    /* White background color */
  }
  section {
    text-align: center;
    height: 100%;
    padding: 75px 0px;
    min-height: 40vh;
  }
  section h2 {
    margin-bottom: 50px;
  }
  
  section h2 span {
    padding: 10px 55px;
    border-radius: 20px;
    color: #fff;
    background: #120f5e;
    /* fallback for old browsers */
    background: linear-gradient(to right, #f5d837, #bbb812);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .name {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: uppercase;
    margin: 20px 0px 30px 0px;
  }
  #stress{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.stress-left-col{
    flex-basis: 50%;

}
.stress-left-col img{
    width: 87%;
}
.stress-right-col{
    flex-basis: 50%;
    text-align: right;
}
.stress-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #b6c0c9;
  padding: 10px;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100px; /* Should be removed. Only for demonstration */
}
